# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Go workspace files
/bin/
bootstrap

# Binary
go/bin

# Application config
config.yaml
# Handler
lambda_handler.zip

# Go coverage
coverage.txt
coverage.html
tmp

# Deploy folder
deploy/

# Terraform specific
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Deployment files
deploy/**
deploy
build-lambda.sh
